:root {
    --light: rgb(207, 213, 235);
     /* #cfd5eb; */
    --dark: rgb(40, 22, 111);
    /*  #28166f; */
    --red: rgb(218, 37, 29);
    /*  #da251d; */
    --font-heading-primary: 'Concert One', sans-serif;
    --font-heading-secondary: 'Passion One', sans-serif;
    --font-text: Arial, Verdana, Helvetica, 'Courier New';
    --font-weight-regular: 400;
    --font-weight-bold: 700;
    --font-weight-black: 900;
    
}
*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    background-color: rgb(207, 213, 235);
}
header {
    background-color: #fff;
}